h1{
    color: purple;
    font-size: 40px;
    font-family: Arial;
    font-style: italic;  
    background-color: silver;
    height: 60px;
}
p{
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica;
    font-style: oblique;
    text-align: justify;
    background-color: silver;
}

#bg{
    height: 525px;
    background-color: salmon;
}
.imagen1{
    height: 500px;
    width: 600px;
    margin: 15px 0 0 50px;
}
.imagen2{
    height: 500px;
    width: 600px;
    margin: 15px 0 0 20px;
}